/* You can add global styles to this file, and also import other style files */
/* @import "https://unpkg.com/bootstrap@3.3.7/dist/css/bootstrap.min.css"; */
@import "~bootstrap/dist/css/bootstrap.css";
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

body {
    padding-top: 40px;
  }
  .starter-template {
    padding-top: 40px;
  }
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
